@use '../util/' as u;

.feature2{
    background-color: var(--c-white);
    padding-block-start:u.rem(173);

    &__h3{
        margin-block-end: u.rem(98);
        span{
            display: inline-block;
            margin-block-end: u.rem(20);
            margin-inline-end: u.rem(40);
        }
    }

    .feature2__service-sec{
        display: flex;
        justify-content: space-between;

        .outer-div{
            display: flex;
            gap: u.rem(35);

            .inner-div{
                h4{
                    margin-block-end: u.rem(35);
                }
            }

        }

    }

}